<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Disasters</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/plotly.js/1.33.1/plotly-basic.min.js"></script>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Disaster Response Project</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="https://www.udacity.com/">Made with Udacity</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/boa50">Contact</a>
            </li>
        </ul>
    </div>
</nav>


<div class="jumbotron">
    <div class="container">
        <h1 class="text-center">Disaster Response Project</h1>
        <p class="text-center">Analyzing message data for disaster response</p>
        <hr />
      
        <div class="row">
            <div class="col-lg-12 form-group-lg">
                <form action="/go" method="get">
                        <input type="text" class="form-control form-control-lg" name="query" placeholder="Enter a message to classify">
                        <div class="text-center mt-3">
                            <button type="submit" class="btn btn-lg btn-primary">Classify Message</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        {% block message %}
        {% endblock %}
    </div>
</div>

<div class="container-fluid">
    {% block content %}
        <div class="page-header">
            <h1 class="text-center">Overview of Training Dataset</h1>
        </div>
    {% endblock %}

    <div class="row">
        {% for id in ids %}
            <div class="col-lg-4">
                <div id="{{id}}"></div>
            </div>
        {% endfor %}
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script type="text/javascript">
    const graphs = {{graphJSON | safe}};
    const ids = {{ids | safe}};
    for(let i in graphs) {
        Plotly.plot(ids[i], graphs[i].data, graphs[i].layout);
    }
</script>

</body>
</html>
